// Brand colors
$primary-color: #0090cf;
$secondary-color: #575c5e;
$background-color: #2f3438;

// Buttons
.btn-primary {
  background-color: $primary-color !important;
  border-color: darken($primary-color, 10%) !important;
}

// Typography
body {
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  color: $background-color;
}

// hide some elements
.booking-header, .header, #header, .navbar, .main-header,
.footer-options, .footer .footer-options, #footer-options,
#wizard-frame-1, #wizard-frame-3 {
    display: none !important;
}
